.App {
  background-color: white;
}

.dark {
  background-color: #181818 !important;
}

.canvas {
  height: 100%;
}

.shoe-box {
  height: 800px;
  background-image: url("https://cdn.dribbble.com/users/2992177/screenshots/5879163/85402b47296909.596c8cd991950.png");
  background-position: center;
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  border-radius: 1.2rem;
}

.shoe-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  float: center;
  margin: 0 2.5rem;
  border-radius: 1.2rem;
  display: flex;
  align-content: flex-start;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.1rem;
  margin: 4rem 10rem;
  flex-wrap: wrap;

  @media screen and (max-width: 1270px) {
    margin: 2rem 5rem;
  }
  @media screen and (max-width: 1100px) {
    margin: 2rem 2rem;
  }
}

.add-form {
  background-image: white;
  border-radius: 2rem;
}

.padding-right {
  margin-left: 10px;
  margin-right: 20px;
}

.behind {
  z-index: 1;
}

.front {
  z-index: 2;
}

.canvas-holder {
  height: 800px;
}

.glass {
  color: white;
  margin-top: 7rem;
  position: relative;
  background-image: linear-gradient(135deg, #47405c54, #0a051c8c);
  width: fit-content;
  height: 70%;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow: auto;
}

/* .glass:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
  filter: blur(100px);
  z-index: -1;
} */

.wallpaper {
  background-image: url("https://wallpaperaccess.com/full/1247375.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
}

.center {
  justify-content: center;
}

.invisible {
  display: none;
}
