.App {
  background-color: #bdbec2;
  border: red;
}

#div_top_hypers {
  background-color: #eeeeee;
  display: inline;
}

#ul_top_hypers li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(3, 0.11fr);
  grid-gap: 1rem;

  @media screen and (max-width: 1270px) {
    margin: 2rem 5rem;
    grid-template-columns: repeat(1, 0.11fr);
  }

  @media screen and (max-width: 1100px) {
    margin: 2rem 2rem;
    grid-template-columns: repeat(1, 0.11fr);
  }
}

.profile {
  color: #fbfff7;
  background-color: #8e44ad;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 0.11fr);
  grid-gap: 1rem;
  width: 70%;
  background-color: #515a47;
  border-radius: 20px;
  padding: 40px;
  background-image: url("https://3.bp.blogspot.com/-4vf9OVikxC8/XFUltIbso7I/AAAAAAAABz0/JVXPiIhLnbA3tfwA29H1pqJlbXvX39fEwCKgBGAs/w2880-h1800-c/snow-mountainer-night-sky-stars-scenery-31-4K.jpg");
  background-size: cover;
}

.form-card {
  padding: 25px;
}

.form-title {
  text-align: center;
}

.right-button {
  float: right;
}
