.App {
  background-color: #bdbec2;
  border: red;
}

#div_top_hypers {
  background-color: #eeeeee;
  display: inline;
}

#ul_top_hypers li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

/* #c {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1500ms ease-out;
  background-color: red;
} */

.canvas {
  height: 100%;
}
